<script setup lang="ts">
import Sdk from "casdoor-js-sdk";
import { SdkConfig } from "casdoor-js-sdk/lib/esm/sdk";
import router from "../router";
import { ObjectUser } from "../Api";
import store from "../components/Store";

const SDK_CONFIG: SdkConfig = {
  serverUrl: "http://localhost:8000",
  clientId: "1ae00f925722500e1b39",
  appName: "appvue",
  organizationName: "built-in",
  redirectPath: "/callback",
  signinPath: "/api/signin",
};

const BASE_URL = "http://localhost:8080";
const sdk = new Sdk(SDK_CONFIG);

sdk.signin(BASE_URL).then(async (res) => {
  const { token } = res as any as { token: string };
  if (!token) {
    console.error("Erreur lors de la connexion");
    return;
  }
  try {
    const response = await fetch(`${BASE_URL}/api/getUserInfo?token=${token}`);
    const user = await response.json();
    store.user = user as ObjectUser;
  } catch (error) {
    console.error(
      "Erreur lors de la récupération des informations utilisateur",
      error,
    );
  }
  sessionStorage.setItem("token", token);
  router.push("/");
});
</script>

<template>loading...</template>
