<script setup lang="ts">
import Sdk from "casdoor-js-sdk";
import { SdkConfig } from "casdoor-js-sdk/lib/esm/sdk";
import Button from "primevue/button";
import store from "../components/Store";
import router from "../router";
const SDK_CONFIG: SdkConfig = {
  serverUrl: "http://localhost:8000",
  clientId: "1ae00f925722500e1b39",
  appName: "appvue",
  organizationName: "built-in",
  redirectPath: "/callback",
  signinPath: "/api/signin",
};

const sdk = new Sdk(SDK_CONFIG);

function login() {
  window.location.href = sdk.getSigninUrl();
}

function logout() {
  sessionStorage.removeItem("token");
  store.user = null;
}
</script>

<template>
  <Button v-if="!store.user" id="login" @click="login">
    Se connecter avec Casdoor
  </Button>
  <Button v-else id="logout" @click="logout">Se déconnecter</Button>
  <Button v-if="store.user" id="users" link @click="router.push('/users')">
    Gérer les utilisateurs
  </Button>
</template>

<style scoped>
#users {
  margin-top: 1rem;
}
</style>
