<script setup lang="ts">
import store from "./components/Store";
import router from "./router";
</script>

<template>
  <div id="navbar">
    <h1 v-if="store.user" id="title" @click="router.push('/')">
      Bonjour {{ store.user.name }}
    </h1>
    <h1 v-else id="title" @click="router.push('/')">
      Vous n'êtes pas connecté
    </h1>
  </div>
  <main>
    <Suspense>
      <router-view></router-view>
    </Suspense>
  </main>
</template>

<style scoped>
#navbar {
  width: 100%;
  text-align: center;
  box-shadow: 10px 0 10px rgba(255, 255, 255, 0.2);
}

#title {
  cursor: pointer;
  user-select: none;
}

main {
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: center;
  flex-grow: 1;
}
</style>
